body {
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a, a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #2980B9;
}

h3 {
    color: #2980B9;
}

.huangpu-body {
    background-color: #EEEEEE;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eeeeee;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.col-heading {
    padding-left: 40px;
}

.col-heading span {
    float: right;
    font-size: 80%;
}

.col-heading span:first-child {
    margin-right: -5px;
    color: #666;
}

.col-heading span:last-child {
    color: #666;
}

.projText {
    height: 6em;
}

.project-head {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.project-x {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    margin-top: 15px;
    /*border-left: 5px solid;*/
    /*border-color: #2980B9;*/
}

.huangpu-qrcode {
    padding-top: 15px;
    width: 40%;
}

.huangpu-pic {
    margin-top: 15px;
    float: center;
    width: 100%;
}

.form-label {
    margin-right: -10px;
    padding-right: 0px;
    font-size:120%;
}

.form-horizontal {
    background-color: #fff;
}

.float-right {
    float: right;
    color: #2980B9;
    margin-right: 10px;
}

.docpic {
    width: 40px;
}

.inputdate {
    padding-top: 0px;
    padding-bottom: 0px;
}




/*.btn-float{*/
    /*position: fixed;*/
    /*right: 10px;*/
    /*bottom: 10px;*/
    /*z-index: 1;*/
/*}*/



.littlepic {
    position: absolute;
    width: 35px;
    padding-top: 3px;
}


