body {
    background-color: #EEEEEE;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
p {
    margin:0px 0px 10px 0px;
    line-height: 1.5;
    color: #888;
}

.projHead {
    position: fixed;
    background-color: #181818;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid #EEEEEE;
}
.projName {
    text-align: center;
    color: #eeeeee;
    padding: 10px;

}

.row {
    margin-bottom: 15px;
    max-width: 500px;
}
.col-heading {
    margin-top: 10px;
}
.col-arrow {
    position: absolute;
    right: 10px;
    top: 35%;
    color: #444;
}
.conPrj {
    margin-top: 100px;
    /*padding-top: 10px;*/
}

.project-1,.project-2,.project-3,.projInfo {
    background-color: #ffffff;
}

