
body {
  font-family: "SimHei", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 17px;
  color: #585858;
}

select {
  color: #eeeeee;
}

.body-gray {
  background-color: #e8e8e8;
}

.text_center {
  text-align: center;
}

.weui_cells {
  margin-top: 0.5em;
}

.weui_cells_title {
  margin: 0.5em 0em .5em 1em;
  padding-left: 1em;
  border-left: 5px solid #2980B9;
}

.weui_cells_form .weui_cell_hd {
  padding-right: 1em;
  border-right: 1px solid #eee;
  font-size: 15px;
}

.weui_cells_form .weui_input {
  padding-left: 1em;
  font-size: 15px;
}

#inputQQ {
  width: 5.7em;
}

.tips {
  font-size: 10px;
  color: #2980B9;
  margin: .5em;
  text-align: center;
}

.warning {
  font-size: 10px;
  color: red;
  margin: .5em;
  text-align: center;
}

.weui_btn {
  margin: 5%;
  background-color: #2980B9;
}

.location_select select {
  width: 30%;
}

.student_card {
  margin: 10px;
  background-image: url('../image/kzkt/card.png');
  background-size: 100% 100%;

}

.student_card:before {
  border-top: none;
}

.student_card .weui_cell_hd img:nth-child(1) {
  position: absolute;
  z-index: 100;
  top: 5%;
  left: -10px;
  width: 67px;
}

.student_card .weui_cell_hd img:nth-child(2) {
  position: absolute;
  top: 15px;
  left: 3%;
  width: 65px;
}

.student_card .weui_cell_bd a:nth-child(1) span {
  position: absolute;
  right: 21%;
  top: 2%;
  font-size: 12px;
  color: #b8b8b8;
}

.student_card .weui_cell_bd a:nth-child(2) span {
  position: absolute;
  right: 0px;
  top: 10px;
  padding-left: 7%;
  padding-right: 8%;
  font-size: 13px;
  color: white;
}

.student_card .weui_cell_bd {
  margin-left: 19%;
  padding-left: 12px;
}

.student_card .weui_cell_bd p {
  font-size: 15px;
  color: #585858;
}

.learning_card {
  margin: 16px 6px 0px 6px;
  padding-bottom: 1em;
  background-image: url('../image/kzkt/white.png');
  background-size: 100% 100%;
  border-top: none;
}

.learning_card .weui_cell:before {
  border-top: none;
  left: 0px;
}

.learning_card .weui_cell:nth-child(1) .weui_cell_bd {
  margin: 10px auto -10px 40%;
}

.learning_card .weui_cell:nth-child(1) p {
  font-size: 20px;
  font-weight: bold;
  font-family: 'SimSun-ExtB',"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #2a86bf;
}

.learning_card .weui_cell:nth-child(1) img {
  position: absolute;
  top: -16px;
  right: -6px;
  width: 79px;
}

.learning_card .weui_cell:nth-child(2) p {
  margin-bottom: -5px;
  font-size: 17px;
  font-family: 'SimSun-ExtB',"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #585858;
}

.learning_card .weui_cell:nth-child(3) .weui_cell_bd {
  margin: auto;
}

.learning_card .weui_cell:nth-child(3) p {
  font-size: 15px;
  color: #2a86bf;
}

.learning_card .weui_cell:nth-child(3) p:nth-child(1) {
  font-size: 16px;
  color: #585858;
}

.qrcode {
  width: 40%;
  max-width: 130px;
}

.img_100 {
  width: 100%;
}

.index_pic img {
  width: 100%;
}

.index_pic a {
  margin-top: -5px;
  width: 90%;
}

.click_button {
  margin: 0px 6px 6px 6px;
}

.student_sign .weui_cell .weui_cell_hd p {
  position: absolute;
  top: 10px;
  left: 15%;
}

.student_sign .weui_cell .weui_cell_ft img {
  position: absolute;
  top: 10px;
  right: 5%;
  padding-left: 12px;
  border-left: 1px solid #e8e8e8;
  height: 20px;
}

.student_sign {
  text-align: center;
}

.student_sign > img {
  margin: 35px auto 10px auto;
  height: 24px;
}

.weui_actionsheet {
  height: 100%; overflow :auto;
}

.mask {
  display: none;
}

.tabs {
  height: 40px;
  margin: 0px;
}

.tabs a {
  display: block;
  float: left;
  width: 50%;
  color: #333;
  text-align: center;
  background: #eee;
  line-height: 50px;
  font-size: 15px;
  text-decoration: none;
}

.tabs a.active {
  color: #fff;
  background: #2199E8;
}

.his_hd {
  height: 40px;
  margin: 0px;
}

.his_style {
  display: block;
  float: left;
  width: 50%;
  color: #333;
  text-align: center;
  background: #eee;
  line-height: 50px;
  font-size: 15px;
  text-decoration: none;
}

.his_active {
  color: #fff;
  background: #2199E8;
}
